# ---------------------
# youtube video
# ---------------------

YOUTUBE_API_KEY=

YOUTUBE_CHANNEL_IDS=
YOUTUBE_QUERIES=
YOUTUBE_VIDEO_IDS=

YOUTUBE_LIMIT=10
YOUTUBE_FROM_DATE=1

NOTION_API_KEY=
NOTION_YOUTUBE_DATABASE_ID=

# ---------------------
# news
# ---------------------

GNEWS_TOPICS=

GNEWS_KEYWORDS=

GNEWS_SITES=

GNEWS_LOCATIONS=

GNEWS_LIMIT=10
GNEWS_FROM_DATE=1

NOTION_NEWS_DATABASE_ID=

# ---------------------
# weahter
# ---------------------

OPENWEATHERMAP_API_KEY=
OPENWEATHERMAP_CITY="London"

NOTION_API_KEY=
NOTION_WEATHER_DATABASE_ID=
